@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// font family
$primary-font: 'Roboto', sans-serif;

// navbar color
$navbar-color: #495C83;
$logo-color: #C8B6E2;
$text-color: #495C83;
$main-color: #B7D3DF;

* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    color: $text-color;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: $navbar-color;

    .nav__logo {
        font-weight: 500;
        font-size: 1.7rem;
        color: $logo-color;
    }

    .nav__link {
        font-size: 1rem;
        color: $logo-color;
    }
}

main {
    height: 90vh;
    background-color: $main-color;
    color: $text-color;
}

.big-title {
    padding-top: 1rem;
    margin: 0 1rem;
}

.small-title, .translator__instruction, .translator__label, .result-statement {
    margin: 1rem;
    font-size: 1.1rem;
}

.result-text {
    margin: 1.5rem;
    font-size: 1.1rem;
}

#reset-btn {
    margin: 0.5rem 1rem;
    border-radius: 10px;
    width: 10%;
    height: 5%;
    font-size: 1rem;
    background-color: $logo-color;
}

